.new-reward
  = form_for [:admin, @reward] do |f|
    .label
      = f.label :name
    .form-row
      = f.text_field :name

    .label
      = f.label :quantity
    .form-row
      = f.number_field :quantity
    
    .label
      = f.label :point_value
    .form-row
      = f.number_field :point_value

    .label
      = f.label :image_url
    .form-row
      = f.text_field :image_url

    .form-button
      = f.submit submit_button_name(@reward)