.container.center
  %header
    Your point total: #{current_user.points}
  %header
    Cost of #{@reward.name}: #{@reward.point_value}
  %header
    Number of these left: #{@reward.quantity}
  = link_to 'Confirm Purchase', "/buy/#{@reward.id}", method: :post, class: "link-button"
