%header
  Welcome, #{@user.first_name}!
- if current_admin?
  %ul.link-banner
    %li
      = link_to 'Add Reward', new_admin_reward_path, class: "link-button"
    %li
      = link_to('View Rewards', admin_rewards_path, class: "link-button")
    %li
      = link_to('View Users', admin_users_path, class: "link-button")
- else
  .rewards-list
    - @user.rewards.each do |reward|
      = reward.name
