.rewards-list
  %ul
    - alphabetize_rewards(@rewards).each do |reward|
      %li{:id => "#{downcase_join_name(reward.name)}"}
        = link_to reward.name, current_admin? ? admin_reward_path(reward) : reward_path(reward)
        %ul
          %li= "Quantity: #{reward.quantity}"
          %li= "Point value: #{reward.point_value}"

        - if current_admin?
          .button-pair
            = link_to 'Edit', edit_admin_reward_path(reward)
            = link_to 'Delete', admin_reward_path(reward), method: :delete

        - else
          = link_to 'Buy', "/buy/#{reward.id}"
