.new-user
  = form_for [:admin, @user] do |f|
    .label
      = f.label :first_name
    .form-row
      = f.text_field :first_name

    .label
      = f.label :last_name
    .form-row
      = f.text_field :last_name

    .label
      = f.label :email
    .form-row
      = f.text_field :email

    .label
      = f.label :password
    .form-row
      = f.text_field :password

    .form-button
      = f.submit "Create Account"
