<h2><%= full_name(@user) %></h2>
<ul>
  <li>Email: <%= @user.email %></li>
  <li>Points: <%= @user.points %></li>
  <li>Redeemed Points: <%= @user.redeemed_points %></li>
</ul>

<%= link_to 'Add Points', edit_admin_user_path(@user) %>