!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PointBox
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - if flash
      - flash.each do |name, message|
        = message
    - if @errors
      - @errors.each do |error|
        = error
    - if current_user
      = link_to 'Log out', logout_path, method: :delete
    - else
      = link_to 'Log in', login_path
    = yield
